/*
* autor: jyl
* 2017/4/
*/


@import "scss/base"; 

.pt60{
    padding-bottom: 60px;
}
.pt20{
    padding-bottom:20px
}
.mt50{margin-top: 50px;}

.wrapper{
    width: 1080px;
    margin-left: auto; 
    margin-right: auto;
}

.wrapperTwo{
    width: 1200px;
    margin-left: auto; 
    margin-right: auto;
}
/*
 * common
 */

//header

.lay_main01{ background: #fff;}
.lay_main02{ background: #eee;}



.icon_chan{
    display: inline-block; *display: inline; *zoom: 1; height: 56px; width: 56px;
    background: url(../images/icon_com.png) no-repeat 0 0;
}
.icon_chan01{background-position: 0 0;}
.icon_chan02{background-position: -100px 0;}
.icon_chan03{   background-position: -200px 0;}
.icon_chan04{    background-position: -300px 0;}
.icon_chan05{    background-position: -400px 0;}

a:hover .icon_chan01{background-position: 0 -61px;}
a:hover .icon_chan02{    background-position: -100px -61px;}
a:hover .icon_chan03{    background-position: -200px -61px;}
a:hover .icon_chan04{    background-position: -300px -61px;}
a:hover .icon_chan05{    background-position: -400px -61px;}

.icon_contact{
    display: inline-block; *display: inline; *zoom: 1; height: 39px; width: 39px;
    background: url(../images/icon_com.png) no-repeat 0 -150px;
}
.icon_contact01{background-position: 0 -150px;}
.icon_contact02{background-position: -50px -150px;}
.icon_contact03{background-position: -100px -150px;}
.icon_contact04{background-position: -150px -150px;}
.icon_contact05{background-position: -200px -150px;}
.icon_contact06{background-position: -250px -150px;}
.icon_contact07{background-position: -300px -150px;}

a:hover .icon_contact01{background-position: 0 -200px;}
a:hover .icon_contact02{background-position: -50px -200px;}
a:hover .icon_contact03{background-position: -100px -200px;}
a:hover .icon_contact04{background-position: -150px -200px;}
a:hover .icon_contact05{background-position: -200px -200px;}
a:hover .icon_contact06{background-position: -250px -200px;}
a:hover .icon_contact07{background-position: -300px -200px;}

//频道导航
.icon_chanmenu{
    display: inline-block; *display: inline; *zoom: 1; height: 76px; width: 75px;
    background: url(../images/icon_chanmenu.png) no-repeat 0 0px;
}
.icon_chan_zxmr01{background-position: 0 0;}
.icon_chan_zxmr02{background-position: -100px 0;}
.icon_chan_zxmr03{background-position: -200px 0;}
.icon_chan_zxmr04{background-position: -300px 0;}
.icon_chan_zxmr05{background-position: -400px 0;}

.icon_chan_smjk01{background-position: 0 -200px;}
.icon_chan_smjk02{background-position: -100px -200px;}
.icon_chan_smjk03{background-position: -200px -200px;}
.icon_chan_smjk04{background-position: -300px -200px;}
.icon_chan_smjk05{background-position: -400px -200px;}

.icon_chan_pfzx01{background-position: 0 -400px;}
.icon_chan_pfzx02{background-position: -100px -400px;}
.icon_chan_pfzx03{background-position: -200px -400px;}
.icon_chan_pfzx04{background-position: -300px -400px;}

a:hover .icon_chan_zxmr01{background-position: 0 -100px;}
a:hover .icon_chan_zxmr02{background-position: -100px -100px;}
a:hover .icon_chan_zxmr03{background-position: -200px -100px;}
a:hover .icon_chan_zxmr04{background-position: -300px -100px;}
a:hover .icon_chan_zxmr05{background-position: -400px -100px;}

a:hover .icon_chan_smjk01{background-position: 0 -300px;}
a:hover .icon_chan_smjk02{background-position: -100px -300px;}
a:hover .icon_chan_smjk03{background-position: -200px -300px;}
a:hover .icon_chan_smjk04{background-position: -300px -300px;}
a:hover .icon_chan_smjk05{background-position: -400px -300px;}

a:hover .icon_chan_pfzx01{background-position: 0 -400px;}
a:hover .icon_chan_pfzx02{background-position: -100px -500px;}
a:hover .icon_chan_pfzx03{background-position: -200px -500px;}
a:hover .icon_chan_pfzx04{background-position: -300px -500px;}

.lay_header{
    background: #fff;
}

.lay_header01{ background: none; position: absolute; top: 0; left: 0; width: 100%;
    z-index: 10;
}
.lay_headerfixed{position: fixed; top: 0; left: 0px; width: 100%; z-index: 100; @include opacity(90);background: #fff; box-shadow: 1px 1px 5px #ccc;}
.header{    
    height: 86px;    
    position: relative;
    z-index: 5;
    .logo{
        display: block;
        width: 200px;
        height: 86px;
        background: url(../images/logo.png) no-repeat left center;
        
    }
    .nav_wrap{        
        position:absolute;
        top: 50%;
        right: 0px;
        margin-top: -19px;
        height: 38px;
        line-height: 38px;
        z-index:6;
        ul{
            width:100%;
        }
        li{
            @include inlineblock;
            margin-left: 6px;
            position: relative;
           
            
            transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 0.2s ease-in-out 0s;
            &>a{
                padding: 0 5px;
                font-size: 16px;
                color:#cf0078;
            }
            &.active,&.hover{
//              border-radius: 3px;
//              color: #fff;
//              background: #2196ff;
//              &>a{
//                 color: #fff;
//              }
            }  
            
            
                
            dl{
                display: none;
                position: absolute;
                left:0px;
                top:35px;
                width: 140%;
                padding-top: 10px;
                padding-bottom:15px;
                z-index: 10;
                dd{
                    display: block;
                    color: #fff;
                    background: #252525;
                    
                    a{
                        opacity: 0.8;
                        padding-left: 10px;
                        display: block;
                        color: #fff;
                        &:hover{
                            background: #000;
                            opacity:1;
                        }
                    }
                    color: #fff;
                }
            }
            
            &.hover{
               // dl{ display: block;}
            }
            
        }
        
       
        
    }
}

.banner{   
    text-align: center;
    background: #fff;
    position: relative;
    z-index:1;
    .ban_bd{
        height:831px;
        overflow: hidden;
        li{
            display: block;
          a{display: block; height:831px; background-repeat:no-repeat; background-position:center bottom;  background-size: auto 100%; 
          } 
        }
    }
    .ban_hd{
        bottom: 10px;
        left: 0;
        position: absolute;
        text-align: center;
        z-index: 5;
        width: 100%;
        li{
            @include inlineblock;           
            text-indent: -99em;
             @include border-radius(50%);
            width:8px; height:8px; margin:5px; background:#f1f1f1; overflow:hidden; 
            font-size:0;
            cursor: pointer;
            &.on{
                background: #E4007F;
                //background-position:0 0; 
            }
        }
    }
    
}

.subbanner{
    text-align: center;
    position: relative;
    z-index:1;
    background-repeat:no-repeat; background-position:center top;
}

.lay_menu{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #EE7CBB;
    @include opacity(90);
    .menu{
        width: 1080px;
        height: 74px;
        margin: 0 auto;
        zoom: 1;
        .item{
            float: left;
            width: 25%;
            height: 74px;
            a.item_a{
                @include inlineblock; 
                 height:34px ;
                padding: 20px 40px;
                color: #fff;
                font-size: 30px;
                line-height: 34px;
                vertical-align:middle;
                span{ @include inlineblock;  padding-right:20px;
                    vertical-align:middle;  
                    img{ vertical-align:top}
                }
                &:hover{
                    background: #e5007f;
                }
            }
            dl{
                display:none;
                position: absolute;
                top: -140px;
                width: 100%;
                background: #fff;
                text-align: center;
                left: 0;
                padding:20px 0 10px;
                height: 110px;
                dd{
                    @include inlineblock; 
                    margin: 0 10px;
                    vertical-align: top;
                    text-align: center;
                    a:hover{
                        color: #E4007F;
                    }
                }
            }
        }
        .item.hover{
            dl{
                display: block;
            }
        }
    }
    
}

.lay_footer{
    .footer{
        padding-top: 55px;
        padding-bottom:30px;
        .ftnav{
            .item{
               float: left;
               width: 20%;       
               padding-bottom:80px;        
               h3{
                   float: left;
                   width:80px;
                   height: 130px;
                   padding:25px 20px 0 30px;
                   border-left: 1px solid #d9d9d9;
                   text-align: center;
                   a{ color: #999; font-size: 14px;}
                   .icon_chan{display: block; margin: 0 auto;}
                   a:hover{
                       color: #e4007f;
                   }
               }
               ul{
                   float: left;
                   width: 100px;                   
                   li{
                       padding-left: 10px;
                       background: url(../images/icon_item.png) no-repeat left center;
                   }
                    a{ color: #999; font-size: 14px; line-height:1.8;}
                    a:hover{
                       color: #e4007f;
                   }
                    
               }
            }
            .item.first{
                h3{border-left: none;}
            }
            
        }
        .ftcontact{
           
            h3{
                 text-align: center;
                font-size: 45px;
                line-height: 1.4;
                color: #E4007F;
                span{font-size: 24px; display: block;}
            }
            .ftcontact_list{
                 text-align: center;
                padding:20px 0;
                li{
                    @include inlineblock;
                    width: 39px; height: 39px;
                    margin:  0 7px;
                }
            }
            
        }
       
    }
}


    .copytype{
      font-size: 14px;  
      text-align: center;
      color: #bbb;
    }

//prudoct
.lay_crumbwrap{
    padding: 10px;
    line-height: 40px;
    height: 40px;
    background: #fff;
    box-shadow: 1px 1px 3px #ccc;
    .crumbwrap{
        color: #666;
        h3{
            font-size: 24px;

            span{
                font-size: 18px;
                color: #555;
            }
            .crumb_ft01{
               @include inlineblock;
            	font-size:24px;
            	color:#E4007F;
            	line-height:48px;
            	height:48px;
            	vertical-align: top;
            }
            div.crumb_nav01{position:relative; @include inlineblock;
            	vertical-align: top;
            	
	            dl{
	            	@include inlineblock;
	            	width:150px;            	
	            	left:0;
	            	top:0px;
	            }
            	dt{
	                padding: 0 32px 0 16px;
	            	@include inlineblock;
	            	font-size:20px;
	            	color:#666;
	            	position:relative;
	            	i{
	            	    background: url(../images/xb_icon.gif) no-repeat scroll 0 0;
					    display: block;
					     width: 16px;
					    height: 16px;
					    overflow: hidden;
					    position: absolute;
					    right: 10px;
					    top: 50%;
					    margin-top:-8px;
					   
					    transition: transform 0.4s ease-out 0s;
					    -webkit-transition: -webkit-transform 0.4s ease-out;
					    -ms-transition: -moz-transform 0.3s ease-out;
					    -o-transition: -moz-transform 0.3s ease-out;
	            	}
            	}
            		
        		dd{
        			display:none;
        		    border-top: 1px solid #dbdbdb;
				   
				    font-size: 16px;
				    line-height: normal;
				    a{
				    	display:block;
				    	 padding: 4px 0 7px 28px;
				    }
				    a:hover{
				    	background:#eee;
				    }
        		}
            }
            div.crumb_nav01.hover{
            	
            	dl{position:absolute; background:#fff; 
            	box-shadow: 0 0 15px #aaa;}
            	dt{	                
	            	i{
	            	  background-position:0 0;transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg); -o-transform: rotate(180deg);
  
	            	}
            	}
            		
        		dd{
        			display:block;
        		}
            }
        }
        li{
            @include inlineblock;
            a{
                @include inlineblock;
                padding: 0 10px;
                 font-size: 16px;
                color:#666;
            }
            
        }
        li.hover{
            a{
                color: #E4007F;
            }
        }
    }
}



.c-side{float: left;display: inline; width: 25%;max-width:200px; padding:30px 0;}
.c-main{float: right;display: inline; width: 76%; max-width:780px; padding: 30px 0;}

.index_tit{
       padding: 30px 0;
       text-align: center;
       span{
           display:block;
           padding-top:10px;
           font-size: 36px; color: #555;
           font-weight: 400;
       }
   }
   
.c-tit{
        font-weight: normal;
       padding:65px 0 25px;
       text-align: center;
       font-size: 48px;
       line-height: 1.2;
       color: #E4007F;
       span{
           display:block;
           padding-top:20px;
           font-size:18px;
           color: #666;
           &.ft01{
               font-size: 30px;
           }
           &.ft02{
               font-size: 26px;
               font-weight: normal;
               color: #E4007F;
           }
           &.ft03{
               font-size: 24px;
               font-weight: normal;
           }
       }
   }

.c-tit02{
        font-weight: normal;
       padding:35px 0;
       text-align: center;
       font-size:35px;
       line-height: 1.2;
       color: #E4007F;
   }
.c-tit03{
        font-weight: normal;
       padding:35px 0;
       text-align: center;
       font-size:30px;
       line-height: 1.2;
       color: #E4007F;
      
   }

.c-titTwo{
       position: relative;
       padding: 60px 0 50px;
       text-align: center;
       span{
          @include inlineblock;
          padding:  0 20px;
          background: #fff;
          font-size: 30px;
          color: #E4007F;
          position: relative;
          z-index: 2;
       }
       i.abs{
           position: absolute;
           width: 100%;
           height: 0px;
           border-bottom: 1px solid #E4007F;
           left: 0;
           top: 50%;
           z-index: 1;
           margin-top:6px;
       }
   }
 
 .c-titThree{
       position: relative;
       padding: 60px 0 50px;
       text-align: center;
       span{
          @include inlineblock;
          padding:  0 20px;
          background: #fff;
          font-size: 45px;
          color: #E4007F;
          position: relative;
          z-index: 2;
       }
       i.abs{
           position: absolute;
           width: 100%;
           height: 0px;
           border-bottom: 1px solid #ccc;
           left: 0;
           top: 50%;
           z-index: 1;
           margin-top:6px;
       }
   }
.c-intro01{
    width:900px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
}

.c-more{
       @include inlineblock;
       border: 1px solid #cf0078;
       font-size: 12px;
       line-height: 26px;
       padding: 0 20px;
       color:#cf0078;
       margin: 10px 0;
       &:hover{
           color: #fff;
           background: #cf0078;
           border-color: #CF0078;
       }
   }
   
.c-moreTwo{
       @include inlineblock;
       border: 1px solid #E4007F;
       font-size:24px;
       line-height:1.5;
       padding: 0 20px;
       color:#E4007F;
       margin: 10px 0;
       &:hover{
           color: #fff;
           background: #E4007F;
       }
   }

.wrapper01{
   padding-top: 55px;
        padding-bottom: 45px;
 


}

  
.showlist{
    overflow: hidden;
    padding:60px 40px 50px;
    position: relative;
    .bd{
        overflow: hidden;
    }
    
    .item{
       float: left;
       display: inline;
       width: 360px;
       text-align: center;
       padding: 0 5px;
       position: relative;
       overflow: hidden;
       cursor: pointer;

    }
   
    
}

 .prev, .next{ z-index:1; display:block; width:70px; height:120px; position:absolute; margin-top:-60px; top: 50%; left:10px;  background:url(../images/arrow01_pre.png) no-repeat center center; filter:alpha(opacity=90); opacity:0.9;
 }
 .next{ background:url(../images/arrow01_next.png) no-repeat center center; right:10px; left: auto; }
 .prev:hover, .next:hover{ filter:alpha(opacity=100);opacity:1 }

.wrapper02{
    padding-top: 60px;
        padding-bottom:50px;
    .wrapper02_con{
        padding-bottom: 50px;
    }
    
}


.tabbox{
    text-align: center;
    .tabbox_hd{
        padding:0px 0 50px 0;
        @include inlineblock;
        li{
            float: left;
            height:38px;text-align:center;line-height:38px;font-size:16px;
            border: 1px solid #999;
            cursor: pointer;
            padding: 0 25px;
        }
        li.active{
            color:#fff;
            border-color: #ee7cbb;
            background: #ee7cbb;
        }
        li.first{
            border-radius: 3px 0 0 3px;
             -moz-border-radius: 3px 0 0 3px ;
            -webkit-border-radius: 3px 0 0 3px ;
        }
        li.end{
            border-radius:0 3px 3px 0;
             -moz-border-radius:0 3px 3px 0;
            -webkit-border-radius: 0 3px 3px 0;
        }
    }
    .tabbox_bd{
        text-align: left;
    }
}

 .doctor_item{
        overflow: hidden;
        zoom: 1;
        padding: 80px 0 20px;
        margin: 0 auto;
        .doctor_photo{
           width: 520px;
           text-align: center;
           img{
               height: 670px;
           }
        }
        .doctor_con{
            width:450px;
            padding-top: 50px;
            .tit01{
                font-size: 43px; color: #E4007F;
                line-height: 1.5;
            }
            .tit02{
                font-size: 24px; color: #E4007F;
                span{
                    font-size:16px;
                    color: #444;
                    vertical-align: baseline;
                }
            }
            .doctor_p01{
                font-size:24px;
                color: #E4007F;
                line-height: 1.6;
            }
            .intro{
                min-height: 130px;
                font-size: 16px;
                color: #444;
                padding:15px 0;
            }
            .shanchang{
                padding-bottom:40px;
               h3{font-size: 18px; color: #E4007F; padding-bottom:10px;}
               li{text-align: center; @include inlineblock; padding-right: 20px; text-align: center; font-size: 16px; color: #999; line-height: 1.8;} 
            }
            .doctor_ask{
                li{
                    padding-bottom:20px;
                    .icon_ask01{
                        @include inlineblock;
                        vertical-align: middle;
                        width: 23px; height: 23px;
                          background: url(../images/icon_03.png) no-repeat 0 0;
                          margin-right: 10px;
                    }
                    .icon_ask02{
                        @include inlineblock;
                        width: 23px; height: 23px;
                        vertical-align: middle;
                          background: url(../images/icon_03.png) no-repeat 0 -33px;
                          margin-right: 10px;
                    }
                    h3{
                        span{
                            @include inlineblock;
                            padding: 0 8px;
                            border: 1px solid #E4007F;
                            font-size: 18pox; line-height: 2;
                            color: #6a6a6a;
                            vertical-align: middle;
                        }
                    }
                    p{
                       font-size:14px;
                       color: #666;
                    }
                }
            }
        }
}

.doctor01{
     .doctor_item{
         width: 980px;
         padding: 20px 0 80px;
     }
}
.doctor_mfzz{
    .doctor_item{
        padding-top: 0;
        .doctor_photo{
            width: 468px;
            padding: 0;
        }
        .doctor_con{
            width: 568px;
        }
    }
}

.doctor_bbzx{
    .doctor_item{
        padding-bottom:50px;
        .doctor_photo{
            width: 468px;
            padding: 0;
        }
        .doctor_con{
            width: 630px;
        }
    }
}
    
.chan_doctor{
    .chan_doctor_hd{
        width: 750px;
        margin: 0 auto;
    }   
}

.chan_menu{
    padding-top: 70px;
    li{
        float: left;
    width: 210px;
    height: 147px;
    padding-top: 40px;
    margin-right:5px;
    text-align: center;
    font-size: 16px;
    background: #f1f1f2;
    position: relative;
    overflow: hidden;
       
    }
    .chan_menu_abs{
        background:#E4007F;position:absolute;top:-187px;left:0;
        position: absolute;
         width: 210px;
        height: 187px;
        z-index: 5;
        text-align: left;
        h3{line-height:42px;margin-top:10px;color:#fff; font-size:20px;font-weight:bold;}
        dd{float: left; width:50%; line-height: 24px; font-size: 12px; font-weight: normal; }
        a{@include inlineblock; padding-left:10px; color: #fff; }
        a:hover{text-decoration:underline; color:#fff}
    }
}

.chan_menu01{
    text-align: center;
    li{
        float: none;
        @include inlineblock;
        vertical-align: top;
        margin: 0 30px;
        &.end{
            margin: 0 30px;
        }
    }
    
}

.zxmr01{
    .zxmr01_con{
        padding:50px 0 80px;
        font-size: 14px; color: #666;
        p{
            padding-top: 30px;
        }
    }
}

.lay_tuijian{
    padding-bottom: 20px;
    background: url(../images/tuijian_bg.png) no-repeat center top;
}
.tuijian{
    .tit{font-size: 60px; color: #E4007F; text-align: center; padding-top:60px; line-height: 1.2;}
}


/**shebei**/
.shebei01{padding: 30px 0;}    
.shebei_item{
        overflow: hidden;
        zoom: 1;
        width:1080px;
        margin: 0 auto;
        padding: 80px 0 20px;
        .shebei_photo{
           width: 420px;
           padding-left:95px;
           text-align: center;
           img{
               height:502px;
           }
        }
        .shebei_con{
            width:560px;
            .tit01{
                font-size: 43px; color: #E4007F;
                line-height: 1.5;
            }
            .tit02{
                padding-top:30px;
                font-size:35px; color: #E4007F;
            }
            .intro{
                padding-top: 20px;
                font-size: 12px;
                color: #555;
                p{
                    padding-bottom:10px;
                    font-size: 12px;
                }
                h4{
                    font-size: 16px;
                }
            }
            .shanchang{
               padding-top: 35px;
               li{text-align: center; @include inlineblock; padding-right: 20px; text-align: center; } 
            }
        }
}

.smjk_ys{
    text-align: center;
    padding: 60px 0 145px;
    li{
        @include inlineblock;
        width:190px;
        height: 290px;
        border: 1px solid #ccc;
        padding:20px 8px 0;
        margin:0 2px;
        text-align: center;
        overflow: hidden;
        h3{
            padding-top: 10px;
            color: #E4007F;
            font-size: 18px;
        }
        p{
            padding-top: 10px;
            color: #555;
            font-size: 15px;
        }
    }
}

.pfzx_fw{
    text-align: center;
    margin: 60px 0 130px;
    padding: 40px 0 20px 10px;
    border: 1px solid #ccc;
    li{
        float: left;
        width:173px;
        margin-left:3px;
        text-align: center;
        overflow: hidden;
        h3{
            padding-top:5px;
            color: #E4007F;
            font-size: 18px;
        }
        p{
            color: #555;
            font-size: 15px;
        }
    }
}


/**/
.listnav{
    padding: 70px 0 0;
    ul{

        text-align:center;        
    }
    li{
        @include inlineblock;
        vertical-align: top;
        padding:0 3px 15px;
        width: 352px;
        text-align: center;
        a{
            display: block;
            width: 340px;
            height: 393px;
            padding: 5px;
            border: 1px solid #eee;
            &:hover{
                border-color: #ccc;
                background: #fff;
            }
        }       
        h3{
            padding-top:5px;
            color: #E4007F;
            font-size: 18px;
        }
        p{
            color: #555;
            font-size: 14px;
        } 
    }
}

.mfzz01{
    .mfzz01_tit02{
        @include inlineblock;
        padding: 0 30px;
        border: 1px solid #E4007F;
        color: #E4007F;
        margin: 10px auto;
        font-size: 32px;
        @include border-radius(20px);
    }
    .mfzz01_con{
        padding-top: 20px;
        padding-bottom: 70px;
        p{
            font-size: 18px;text-align: center;
            
        }
    }
    .mfzz01_list{
        text-align: center;
        li{
            @include inlineblock;
            width: 198px;
            height: 220px;
            border: 1px solid #E4007F;
           @include border-radius(5px);
            text-align: center;
            overflow: hidden;
            padding-top: 18px;
            margin:40px 42px 0;
            h3{
                font-size: 24px;
                color: #E4007F;
                font-size: 12px;
                span{
                     font-size: 14px;
                color: #555;
                }
            }
            p{
                font-size: 14px;
                color: #555;
            }
        }
    }
}

.mfzz02{
    .mfzz02_list{
        padding: 80px 0 50px;
        li{
            float: left;
            display: inline;
            width: 210px;
            height: 350px;
            margin-left:30px;
            text-align: center;
            h3{
                text-align: center;
                color: #E4007F;
                font-size: 20px;
                
            }
            p{text-align: left; margin-top:15px; color: #555;}
        }
    }
}
.mfzz03{
    .c-moreTwo{
        margin-top: 312px;
    }
}

.mfzz04_list{
    border: 1px solid #ccc;
    padding: 18px 0 10px 10px;
    li{
        float: left;
        padding:0 0 8px 8px;
    }
}

.contact01{
    padding-top: 86px;
    padding-bottom: 90px;
    li{
        float: left;
        display: inline;
        width: 290px;
        padding:0px 50px 20px 60px;
        h3{
            @include inlineblock;
            width:42px;
            
            text-align: center;
            vertical-align: middle;
            font-size: 18px;
            color: #E4007F;
            span{
                height: 48px;
            }
        }
         p{
            @include inlineblock;
            padding-left: 10px;
            width: 230px;
             vertical-align: middle;
        }
    }
}

.contact02{
    padding: 10px 0 100px;
    text-align: center;
}

.threechan01{
    text-align: center;
    margin-top: 70px;
    padding: 47px 0 35px;
    h2{
        padding-top: 28px;
        font-size: 33px;
        color: #E4007F;
        span{
            color: #555;
            font-size: 16px;
            display: block;
        }
    }
    h3{
        padding: 30px 0;
        color: #E4007F;
        span{
            display: block;
            color: #555;
        }
    }
    
}

.threechan_con{
    font-size: 16px;
    text-align: center;
    padding: 20px 0;
    p{font-size: 16px;}
}

.threechan_list{
    text-align: center;
    padding: 30px 0;
    li{
        @include inlineblock;
        vertical-align: top;
        text-align: center;
        padding-top: 5px;
        h3{
            text-align: center;
            color: #E4007F;
            font-size: 20px;
            padding-top: 10px;
            
            &.thre_tit01{
                text-align: left;
                font-size: 14px;
                color: #555;
                padding-top: 5px;
                padding-bottom: 10px;
                i{
                    @include inlineblock;
                    text-align: center;
                    width: 20px; height: 20px;
                    color: #fff;
                    font-size: 14px;
                    line-height: 20px;
                    background: #cf0078;
                    font-style: normal;
                    font-weight: bold;
                    @include border-radius(50%);
                }
            }
            &.thre_tit02{
               font-size: 30px;
               color: #555;
            }
            &.thre_tit03{
               font-size: 30px;
            }
        }
        p{
            margin-top:10px; font-size: 14px;
        }
    }
}
.threechan_list01{
    li{
        width:268px;
    }
}
.threechan_list02{
    li{
        padding:8px 3px;
    }
}
.threechan_list03{
    li{
        width:244px;
        padding:0 15px;  
        h3{
            padding: 0;
            font-size:15px; line-height: 38px; height: 38px;
            background: #ccc;
            font-weight: bold;
        }
        p{
            font-size: 16px;
        }
    }
}

.threechan_list04{
    li{
        width:270px;
        padding:  0 13px;
        h3{
            position: relative;
            padding-top: 20px;
            span{
                position: absolute;
                top:10px;
                left: 0;
                width: 100%;
                text-align: center;
                font-size: 12px;
                color: #555555;
                line-height: 1.5;
            }
        }
        p{
            text-align:left;
            &.tct{text-align: center;}
        }
    }
}

.threechan_list05{
    li{
        h3{
            padding: 0;
            font-size:16px; line-height: 38px; height: 38px;
            background: #ccc;
            
        }
    }
}

.threechan_list06{
    li{
        border: 1px solid #ccc;
        width: 285px;
        height:312px;
        padding: 15px 10px;
        text-align: center;
    }
}

.threechan_list07{
    margin: 20px 20px;
    padding:20px 10px 10px;
    border: 1px solid #E4007F;
    li{
        padding: 0 3px 15px;
        h3{font-size: 24px; padding-top: 5px;}
    }
}

.bbzx_hjbz{
    .tabbox {
        
            .tabbox_hd{
              
            }
            .tabbox_bd{
                text-align: center;
            }
    }
}

.tlslb01{
    margin: 0 20px;
    border: 1px solid #E4007F;
    padding: 10px 0;
    .tlslb01_tit{ font-size: 24px; color: #E4007F; text-align: center;}
    .tlslb01_intro{
        text-align: center;
        font-size: 16px;
        span{
            color: #E4007F;
        }
    }
    .tlslb01_list{
       text-align: center;
        li{
            @include inlineblock;
            text-align: center;
            padding:0 1px;
            h3{
                font-size:15px; line-height: 38px; height: 38px;
                color: #E4007F;
            background: #ccc;
            font-weight: bold;
            }
        }
    }
}

//quanbizhenxing
.qbzxSlider{
    position: relative;
     padding: 40px 0 0;  
    .slider_hd{position:absolute;width:800px;bottom: 25px;left:50%; margin-left:-400px; z-index:3;
    text-align: center;
        li{
            @include inlineblock;
            width:46px; height:46px; text-align:center; line-height:46px; margin-right:10px;
            border: 1px solid #E4007F;
            @include border-radius(50%);
            background: #fff;
            cursor: pointer;
        }
        li.on{
            background: #E4007F;
            color: #fff;
        }
    }
    .slider_bd{
        width: 1000px; margin: 0 auto;
        height: 430px; overflow: hidden;
        text-align: center;
        li{width: 1000px; height: 430px; float: left; text-align: center;}
    }
        
}

.qbzx_show01{
    .item { float: left; display: inline; width: 346px; text-align: center; padding: 0 10px; position: relative; overflow: hidden; cursor: pointer; 
        h3{
            font-size: 14px;
            color: #E4007F;
            padding-top: 15px;
        }
     }
}

.qbzx_tab01{
    padding-bottom: 50px;
    .tabbox_hd{
        padding: 65px 0 30px;
        width: 100%;
        li{width: 32.5%; padding: 0;}
    }
    .tabbox_bd{
        position: relative;
        border: 1px solid #555;
        padding: 20px 30px;
        &>.fl{width: 360px;}
        &>.fr{width: 540px;}
        
        .sanjiao{
            position: absolute;
            top: -15px;
            left: 16%;
            width: 0;
            height: 0;
            border-bottom: 15px solid #555;
            border-right: 15px solid #fff;
            border-left: 15px solid #fff;
            border-top: transparent;
            
            .sanjiao_sub{
                position: absolute;
            top: 2px;
            left: -13px;
            width: 0;
            height: 0;
            border-bottom: 13px solid #fff;
            border-right: 13px solid transparent;
            border-left: 13px solid transparent;
            border-top: transparent;
            }
        }
        
        .pt20{padding-bottom:30px;}
        .p01{position: relative;
            padding-left: 50px;
            padding-bottom:5px;
            .abs{position: absolute; top:3px; left: 0;}
            h3{ color: #E4007F; font-size: 14px;}
            p{ font-size: 12px;}
        }
        .borderbt{margin: 10px 0; border-top: 1px solid #ccc;}
    }
    
}


.doclist01{
    .item{
        width: 398px;
        text-align: center;
        float: left;
        h3{
            padding-top: 10px;
            font-size: 16px;
            color: #E4007F;
            span{
                display: block;
                font-size: 14px;
                color: #555;
            }
        }
        p{
            padding-bottom: 30px;
        }
    }
    .borderright{
        float: left;
        width: 0px;
        height: 250px;
        margin-top: 70px;
        border-right: 1px solid #ccc;
    }
}

.smzx01{
    padding: 20px 0;
    .smzx01_md01{
        float: left;
        width: 190px;
        padding: 0 20px 0 35px;
        h3{
            font-size: 24px;
            color: #E4007F;
            span{
                @include inlineblock;
                border-bottom: 10px solid transparent;
                border-top: 10px solid transparent;
                border-left: 10px solid #E4007F;
                border-right: transparent;
                vertical-align: middle;
                margin-right: 5px;
            }
        }
        p{
            font-size: 12px;
        }
    }
    
    .smzx01_md02{
        float: left;
        width: 370px; height: 270px;
        background: url(../images/smjk_three01.png) no-repeat right top;
        li{
            float: left;
            width: 130px;
            height: 120px;
            padding: 20px 0 20px 48px;
        }
    }
}

.smzx02{
    padding-bottom: 30px;
    .c-tit{font-size: 30px;}
    
    .smzx02_md01{
        width: 525px;
        p{
            font-size: 18px;
        }
        .ftborder{
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid #ccc;
        }
    }
}


.xbzx01_list{
    text-align:center;
    padding: 20px 0 80px 50px;
    li{
       
        float:left; width: 180px;
        padding: 0 20px;
        text-align: center;
        border-left: 1px solid #ccc;
         h3{
             font-size: 20px;
             span{display: block;
                width: 50px;
                height: 50px;
                border: 1px solid #E4007F;
                color: #E4007F;
                line-height:50p ;
                text-align: center;
                font-size:22px ;
                @include border-radius(50%);
                margin: 20px auto;
             }
         }
         p{
             padding-top: 20px;
             font-size: 16px;
         }
          &.first{
            border:none
        }
    }
}


.ybxf01{
    padding: 100px 0 50px;
    h2{text-align: center;}
    dl{
        padding: 25px 0 100px;
        dt{float: left; width:380px; font-size: 30px; color: #E4007F;}
        dd{float: right; width: 798px;
            border: 1px solid #E4007F;
            padding: 10px;
            p{
                font-size: 16px;
            }
        }
    }
}

.kyj01{
    .tabbox{
        .tabbox_hd{
            text-align: center;
            width:50%;
            li{width:40%;}
        }
        .tabbox_bd{
            text-align:30px 0;
            p{font-size: 18px;};
        }
    }
}


.shuangyanpi{
    padding-bottom: 80px;
    .syp_tit{font-size: 30px; text-align:center; line-height: 1.1;}
    .syp_p01{text-align: center; padding: 10px 0; font-size: 16px;}
}

.lay_syp01{
    height:798px ;
    background:url(../images/yanbuzhengxing/syp_08.jpg) no-repeat center center;
}

/**
 *qudoujingfu-
 *     */
.qdjf01{
    padding: 58px 0 70px;
    text-align: center;
    .tit01{padding-bottom: 40px;    }
    .tit02{padding-bottom: 40px; 
    font-size: 36px; line-height: 1.5; color: #E4007F; text-align: center;   }
    .bordertop{
        width:80%;
        margin: 30px auto;
        border-top: 1px solid #ccc;
        height: 0;
    }
}    
.qdjf01_equ{
    padding: 0 130px 0 80px;
    
    .qdjf01_equ_fl{float: left; padding-top:30px;}
    .qdjf01_equ_fr{
        float: right;
        width: 440px;
        
    }
    .qdjf01_equ_p01{
        text-align: right;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }
    .qdjf01_equ_p02{
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
        font-size: 16px;
        text-align: left;
    }
    .qdjf01_equ_p03{
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
        font-size: 16px;
        text-align: center;
        color: #E4007F;
    }
}

.qdjf01_anli{
    padding: 0 65px 0 80px;
    
    .qdjf01_anli_fl{float: left;}
    .qdjf01_anli_fr{
        float: right;
        width: 470px;
        padding-top: 35px;
        
    }
    .qdjf01_anli_p01{
        text-align: left;
        p{
            padding-bottom: 20px;
            font-size: 16px;
            &.ft01{font-size: 18px;}
        }
    }
    .qdjf01_anli_bottom{
        border: 1px solid #ccc;
        padding: 12px 20px;
        position: relative;
        text-align: left;
        .abs{
            position: absolute;
            top: 20px;
            right:20px;
        }
    }
    .qdjf01_anli_more{
        display: block;
         color: #E4007F; font-size: 18px; vertical-align: middle; margin-top:25px;
     }
}

.qdjf01_list{
    li{
        width: 1080px;
        height: 186px;
        overflow: hidden;
        .qdjf01_list_md01{
            width: 440px;
            padding: 45px 45px 0;
            h3{ font-size: 20px; color: #E4007F;}
            p{ font-size: 12px; line-height: 2;}
        }
        .fl.qdjf01_list_md01{
            text-align: right;
        }
    }
    
}
    
.ztzf_list01{
    li{
        border: 1px solid #ccc;
        width: 254px;
        height: 325px;
        padding: 20px 0 0 0;
        margin: 0 5px;
        position: relative;
        h3.tit01{
            position: absolute;
            left: 50%;
            top:-11px;
            width:70px;
            margin-left: -35px;
            font-size: 20px;
            line-height:22px;
            text-align: center;
            background: #fff;
            padding: 0;
        }
    }
}    

.pingpai01{
   
    .pingpai01_md01{
		padding:40px 40px 120px;
	}
	.pingpai01_list{
	     padding-bottom:60px;
	    li{
	        margin: 0 15px;
	    }
	}
	
}

.lay_pingpai02{
    background: url(../images/pingpai_01.png) no-repeat center top;
    padding-bottom:60px;}
.pingpai02{
    .pingpai02_list{
        padding-bottom:30px;
        li{
            margin: 0 15px;
            width: 275px;
            height:308px;
            background: #ccc;
            padding-top: 0;
            h3{padding-top: 5px;}
            p{margin-top: 0;}
        }
    }
    
}

.pingpai03{
    padding-bottom:60px;
    .pingpai03_list{
        padding-bottom:100px;
        li{
            margin: 0 15px;
            p{margin-top: 0;}
        }
    }
    
}

#fullpage_menu{
    position: fixed;
    z-index: 10;
    right: 10px;
    top: 50%;
    li{ display: block; margin:10px 0; width:10px; height:10px; @include border-radius(50%); background: #fff; border: 1px solid #ccc; background:#eee ;
    cursor: pointer;
        a{display: block; height: 10px; position: relative;
            span{display: none; line-height: 20px; color: #E4007F; position:absolute; left: -70px; top:-5px; }
            &:hover{
                span{
                   display: block;
                }
            }
        }
    }
    li.active{
        border-color: #E4007F; background: #E4007F;
    }
}

#fullpage{ 
    .section {
        overflow: hidden;
        position: relative;
        z-index: 2;
        .sectionTop{
            transition: all 1s; position: absolute; width:1200px; left: 50%; top: -100%; margin-left: -600px; z-index: 3;
        }
        .sectionBottom{
            transition: all 1s;position: absolute; width:1200px; left:50%; bottom: -100%; margin-left: -600px;z-index: 3;
        }
        
    }
   .section.active{
          .sectionTop{
            top: 0%;
        }
        .sectionBottom{
            bottom:0px;
        }  
     }
    .pingpai04.active{
             .sectionBottom{
                 bottom:50px;
             }
     } 
     
}

.poster-main{
    height: 340px;
    margin:20px auto 60px;
    position: relative;

     .poster-btn{
        width: 40px!important;
        height: 40px!important;;
        position: absolute;
        bottom:-100px!important;
        cursor: pointer;
        
    }
    .poster-prev-btn{
        left:45%;
        background: url(../images/arrow_left.png) no-repeat center center;
    }
    .poster-next-btn{
        right: 45%;
        background: url(../images/arrow_right.png) no-repeat center center;
    }

     .poster-list .list-item{ 
        position: absolute;
        top:-20px;
        left:0;
    }
     .list-item a,.poster-main .list-item a img{
        display: block;
        width: 100%;
        height: 100%;
        border: 0;
    }
}


